/* 页面整体样式 */

body {
  margin: 0;
}

html {
  font-family: "Helvetica neue", Arial, "sans serif";
  font-size: 10px;
  background-color: #ccc;
}

/* 卡片整体样式 */
.card {
  width: 400px;
  border: 1px solid black;
}

article {
  display: flex;
  background-color: lightcoral;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
  height: 120px;
  margin: 12px;
  overflow: hidden;
}

article > p {
  width: 100%;
  padding-left: 12px;
}

h2 {
  /* margin: 12px; */
  padding-left: 12px;
}

article img {
  position: relative;
  right: 10px;
}

.card header,
.card footer {
  height: 30px;
  padding: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0)
  );
}
