
/* 每一行内容 */
body {
    font-size: 12px;
    background-color: #fff;
}

.row {
    position: relative;
    width: 1090px;
    margin: 0 auto;
}

.left {
    float: left;
}

.arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url('../images/icon_common.png') #E7E2D7;
    border: none;
    cursor: pointer;
}

.right {
    float: right;
}

.pre {
    background-position: 0 -5438px;
}

.next {
    background-position: 0 -5658px;
}

.icon-yxtop, 
.site-nav .enterprise::after,
.site-nav .service::after,
.site-nav .download-app::before
 {
    background-image: url('../images/icon-yxtop.png');
}

a {
    color: #333;
}

a:hover {
    color: #CC9756;
}

.img-scale img {
    transition: transform 1s;
}

.img-scale:hover img {
    transform: scale(1.05);
}