
/* 每一行内容 */
body {
    font-size: 12px;
    background-color: #fff;
}

.row {
    position: relative;
    width: 1090px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.icon-yxtop, 
.site-nav .enterprise::after,
.site-nav .service::after,
.site-nav .download-app::before
 {
    background-image: url('../images/icon-yxtop.png');
}

a {
    color: #333;
}

a:hover {
    color: #CC9756;
}