
/* 每一行内容 */
body {
    font-size: 12px;
    background-color: #fff;
}

.row {
    position: relative;
    width: 1090px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}