/* 网站导航 */
.site-nav {
    background-color: #333;
    height: 36px;
    /*line-height与height设置一样，让内容垂直居中*/
    line-height: 36px;
}

.site-nav a {
    color: #ccc;
    font-size: 12px;
}

.site-nav a:hover {
    color: #fff;
}

.site-nav .slogan {
    float: left;
    margin-right: 30px;
}

.site-nav .notice-list {
    float: left;
    background: url('../images/notice.png') no-repeat left center;
    padding-left: 26px;
    height: 36px;
    overflow: hidden;
}

.site-nav .notice-list ul {
    position: relative;
    top: 0;
}

.site-nav .notice-list li {
    line-height: 36px;
}

.site-nav .notice-list a {
    text-decoration: underline;
    color: #b4a078;
}

.site-nav .notice-list a:hover {
    text-decoration: none;
    color: #fff;
}

.site-nav .item {
    /* 消除class为item的a标签之前的间距 */
    float: left;
}

.site-nav .item.login {
    margin-right: 20px;
}

.site-nav .divider {
    width: 1px;
    height: 16px;
    background-color: #5c5c5c;
    float: left;
    margin: 10px 10px;
}

.site-nav .download-app::before {
    content: '';
    margin-right: 5px;
    background-position: 0 0;
    /* 设置成block，宽高才生效 */
    display: inline-block;
    height: 11px;
    width: 7px;
    vertical-align: middle;
}

.site-nav .service::after {
    content: '';
    display: inline-block;
    background-position: 0 -690px;
    height: 5px;
    width: 11px;
    vertical-align: middle;
    margin-left: 5px;
}

.site-nav .service:hover::after {
    transform: rotate(180deg);
}

.site-nav .enterprise::after {
    content: '';
    display: inline-block;
    height: 5px;
    width: 11px;
    background-position: 0 -690px;
    vertical-align: middle;
    margin-left: 5px;
}

.site-nav .enterprise:hover::after {
    transform: rotate(180deg);
}
/* 分类导航 */
.func-nav {
    box-shadow: 0 0 3px rgb(0,0,0,.2);
    /* 相对定位不会脱离标准流 */
    position: relative; 
    z-index: 1;
}

.func-nav .row {
    height: 200px;
}

.func-nav .logo {
    background-position: 0 -298px;
    height: 60px;
    width: 212px;
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.func-nav .logo a {
    display: block;
    height: 60px;
    /* 隐藏文字显示 */
    font-size: 0;
}

.func-nav .buy-car {
    position: absolute;
    top: 70px;
    right: 0;
    width: 34px;
    height: 32px;
}

.func-nav .buy-car .car {
    position: absolute;
    background-position: 0 -204px;
    width: 24px;
    height: 24px;
    left: 0;
    bottom: 0;
}

.func-nav .buy-car:hover .car {
    background-position: 0 -80px;
}

.func-nav .buy-car .count  {
    position: absolute;
    background-position: 0 -51px;
    width: 19px;
    height: 19px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    top: 0;
    right: 0;
}

.func-nav .search {
    position: absolute;
    right: 40px;
    top: 80px;
}

.func-nav .search input {
    color: #333;
    border: none;
    width: 252px;
    border-bottom: 1px solid #d8ceb5;
    height: 22px;
    line-height: 22px;
}

.func-nav .search .placeholder {
    position: absolute;
    left: 10px;
    top: 2px;
    color: #999;
}

.func-nav .search .button {
    background-position: 0 -602px;
    width: 20px;
    height: 20px;
    float: right;
    cursor: pointer;
}

.func-nav .search .button:hover {
    background-position: 0 -542px;
}

/* 分类 */
.func-nav .category {
    position: absolute;
    height: 30px;
    line-height: 30px;
    width: 100%;
    bottom: 0;
}
.func-nav .category-item {
    float: left;
    margin-right: 24px;
    font-size: 14px;
    font-weight: 700;
}

.func-nav .category-item.divider {
    background-color: #ccc;
    height: 14px;
    width: 1px;
    margin-top: 8px;
}
/* 轮播图 */
.slider {
    position: relative;
    overflow: hidden;
}

.slider .image-list {
    position: relative;
    height: 420px;
    left: -960px;
    margin-left: 50%;
}

.slider .image-list li {
    position: absolute;
    left: 0;
    top: 0;
}

.arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url('../images/icon_common.png') #E7E2D7;
    border: none;
    cursor: pointer;
}

.arrow:hover {
    background-color: #CC9756;
}

.slider {
    position: relative;
}

.slider .pre {
    position: absolute;
    background-position: 0 -5438px;
    left: 32px;
    top: 210px;
}

.slider .next {
    position: absolute;
    background-position: 0 -5658px;
    right: 32px;
    top: 210px;
}
/* page control */
.page-list {
    position: absolute;
    bottom: 10px;
    width: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    /* background-color: #f0f; */
}

.page-list li {
    display: inline-block;
    /* vertical-align只对行内级元素有效，所有会影响下面的button，要将下面button设置为block */
    vertical-align: middle;
}

.page-list button {
    /* 设置为block，是为了不让button和li的vertical-align混淆在一起 */
    display: block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 12px;
    border: none;
    background-color: #babbba;
    cursor: pointer;
    margin-top: 3px;
}

.page-list button:hover, 
.page-list .active button {
    background-color: transparent;
    border: 3px solid #b4a078;
    box-shadow: 0 0 0 4px #dfcea9;
}